@import '../../../assets/variables/partials';

.programsView {
    .filterView {
        @media screen and (max-width: 700px){
            .card {
                margin: 0 1rem 1rem;
            }
        }
        .card {
            border: none;
            .card-body {
                padding: 1rem;
                .card-subtitle {
                    text-align: center;
                    font-weight: 400;
                    border-bottom: 1px solid $gray-color;
                }
                .col-md-6, .col-lg-6, .col-sm-6, .col-6 {
                    display: inline-flex;
                }
                @media screen and (max-width: 576px){
                    .col-sm-6 {
                        padding: 0 3rem;
                    }
                }
                .badge {
                    margin: 0.5rem 0;
                    border: 2px solid $light-green;
                    &.badge-secondary {
                        background-color: $light-green;
                        color: $black-color;
                    }
                    &:active, &:focus, &:hover {
                        outline: none;
                        background-color: $green-color;
                        border: 2px solid $green-color;
                    }
                }
            }
        }
    }
    .noDataView {
        text-align: center;
    }
    .programView {
        .col-md-3,.col-lg-3 {
            display: inline-flex;
            padding: 0;
        }
        .card {
            border: none;
            display: inline-flex;
            margin: 0.5rem 1rem;
            .imageView {
                padding: 1rem;
                & img {
                    background: $background-color;
                }
                @media screen and (min-width: 700px){
                    img {
                        height: 11rem;
                    }
                }
                @media screen and (min-width: 1024px){
                    img {
                        height: 12rem;
                    }
                }
            }
            .card-body {
                padding: 0.3rem 1rem 1rem;
                .title {
                    color: #535a84;
                }
                .sub-title {
                    font-weight: 500;
                    font-size: 14px;
                    .sub-value {
                        text-transform: capitalize;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
.spinners {
    text-align: center;
    top: 10rem;
}
